<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <!--
    If you define unused appenders, dozens of Logback setup logs starting with "This is logback-classic version X.X.X" will be output.

    Even if you define unused appenders, you can suppress these logs by adding the following configuration:
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />

    However, please note that some errors will also not be output.
    -->

    <springProfile name="local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%21.21thread] %-5level %-40.40logger{0} - %msg%n</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
    </springProfile>

    <springProfile name="!local">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <jsonGeneratorDecorator class="net.logstash.logback.decorate.PrettyPrintingJsonGeneratorDecorator" />
            </encoder>
        </appender>
    </springProfile>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>
